@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

#root {
  display:flex;
  flex:1;
  flex-direction:column;
  min-height: 100vh;
  background-color: #EDF2F6;
  background-image: url('assets/img/background_small-1.png');
}
